# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.MyProject.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Игнорируем временные файлы сборки Unreal Engine
Intermediate/
Build/
.vs/
Binaries/
Saved/
DerivedDataCache/

# Игнорируем временные файлы
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.log
*.obj
*.pdb
*.exe
*.dll
*.app
*.dmg
*.icns
*.ipa
*.xcodeproj
*.xcworkspacegit add .